

.organization-submenu {
	
	position: relative;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
	
	> div {
		display: inline-block;
		width: 20%;
		margin-left: -5px;
		text-align: center;
		
		a {
			display: block;
			padding-bottom: 10px;
		}
		
	}
	
}