@import "variables.less";

.wgt_notification {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 120px;
    height: 120px;
    background: url('/images/style/notification.jpg');
    background-size: contain;
    border-radius: 50%;
    .box-shadow( 0px 0px 10px 0px rgba(0,0,0,0.75));
    &:hover {
        cursor: pointer;
        bottom: 35px;
        right: 35px;
        width: 130px;
        height: 130px;
        .transition(all, 0.2s);
    }
    @media(max-width: 768px) {
        bottom: 10px;
        right: 10px;
        width: 80px;
        height: 80px;
        &:hover {
            cursor: pointer;
            bottom: 5px;
            right: 5px;
            width: 90px;
            height: 90px;
            .transition(all, 0.2s);
        }

    }
}

.widget_notifications {

    background: #fff;
    min-height: 300px;

    .item{
        padding: 0 10px;
        .datetime {
            font-size: 16px;
            color: @color2;
            @media(max-width: 768px) {
                font-size: 12px;
            }
        }
        .message {
            padding-top: 10px;
            padding-left: 20px;
            padding-bottom: 20px;
            @media(max-width: 768px) {
                font-size: 12px;
            }
        }
    }

}
