@media (max-width: 992px) {
	.wrap .container {
		margin: 0 20px;
		width: auto;
	}
	
	.wrap.menu-sm .menu-list a, .wrap.menu-sm .menu-list .logout {
		font-size: 14px;
	}
	
}

@media (max-width: 768px) {
	
	.header-main {
		.logo-text h1.text1 {
			font-size: 18px;
		}
		.logo-text h1.text2 {
			font-size: 14px;
		}
	}
	
	.wrap2 {
		.item-counter {
			margin-bottom: 30px;
		}
	}
	
	.wrap7 .p-container .product {
		padding-top: 30px;
		padding-bottom: 30px;
		height: auto;
	}
	
	.news-index-page {
		h3 {
			margin-top: 30px;
		}
		
		.news-archive .title {
			padding-left: 0;
			padding-bottom: 15px;
		}
	}
	
	.column3 {
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;
	}
	
	
}