@path: "../../../../web/css";
@import "@{path}/variables.less";

@border: 1px solid #ccc;

.workplace {
	&.default {
		padding: 0 60px;
		margin-top: 60px;
	}
}

.admin-wrap {
	overflow: hidden;
	&.menu-hidden {
		.side-menu-container {
			left: -270px;
			.transition(all);

			.toggler {
				opacity: 1;
				.transition(all);
			}


			.side-menu .heading .bottom {
				opacity: 0;
				.transition(all);
			}


			.side-menu .heading .top {
				opacity: 0;
				.transition(all);
			}

		}

		.content-container {
			padding-left: 30px;
			.transition(all);
		}

	}

	.side-menu-container {
		padding: 0;
		background-color: @color2;
		position: fixed;
		top: 0;
		left: 0;
		width: 300px;
		height: 100%;
		z-index: 3;
		.transition(all);

		.toggler {
			position: absolute;
			right: 0px;
			top:0px;
			width: 30px;
			height: 100%;
			background: @color2;
			opacity: 0;
			.transition(all);
		}

		.side-menu {
			.heading {
				padding-bottom: 30px;
				.top {
					padding: 15px 20px;
					background: @color2_2;
					.logo img {
						height: 100px;
						padding-right: 15px;
					}
					.title {
						color: #fff;
						font-size: 22px;
						font-weight: 200;
					}
					opacity: 1;
					.transition(all);
				}
				.bottom {
					background: @color2_3;
					padding: 10px 20px;
					color: #fff;
					font-weight: 200;
					opacity: 1;
					.transition(all);

					i {
						padding-right: 15px;
					}

				}


			}

			.links {
				.separator {
					text-transform: uppercase;
					padding: 2px 20px;
					font-weight: 400;
					color: #fff;

					a {
						&:before {
							content: "- ";
						}
					}
				}

				a, button {
					text-transform: capitalize;
					.white-link();
					display: block;
					font-weight: 200;
					margin-right: 0;
					padding: 2px 20px;
					text-align: left;
					font-size: 14px;

					&:hover {
						background: @color2_2;
						border: none;
					}
				}
			}

		}

	}

	.content-container {
		padding-left: 300px;
		position: relative;

		.transition(all);

		.workplace, .applications-container {
			min-width: 992px;
			.heading {
				padding-left: 30px;
				padding-right: 15px;
				background: #fff;
				h3 {
					border: none;
					padding-top: 15px;
					margin-bottom: 0;
					font-weight: 400;
					color: #777;
				}

				> div {
					font-size: 14px;
					font-weight: 200;
					margin-bottom: 15px;
					color: @dark1;
				}

				.controller {
					.app-btns {
						text-align: right;
						padding-right: 30px;
						margin-top: -10px;
					}
				}

			}

			.application-container {
				margin: 30px;
				border: none;
				.application-list {
					>.heading {
						font-weight: 500;
						font-size: 16px;
						margin-bottom: 20px;
					}

					.application-group {
						>.heading {
							font-size: 14px;
							font-style: italic;
							margin-bottom: 10px;
						}
						.application-item {
							display: inline-block;
							margin-right: 10px;
							margin-bottom: 10px;
							width: 32%;
							height: 120px;
							border: @border;
							overflow: hidden;
							position: relative;
							background-color: #fff;
							.image {
								position: absolute;
								width: 125px;
								height: 118px;
								left: 0;
								background-size: cover;
								background-position: center;
							}

							.description {
								padding-left: 130px;
								padding-top: 10px;
								hr {
									margin: 5px 0 10px 0;
								}

								div:nth-child(1) {
									color: #000;
									margin-bottom: 10px;
									margin-top: 5px;
								}
								div:nth-child(2) {
									color: #8c8c8c;
									margin-bottom: 10px;
								}
							}

							.general {
								position: absolute;
								top: 0;
								width: 100%;
								height: 20px;
								background-color: @grey1;
								color: #fff;
								padding: 0 5px;
								font-size: 12px;
								line-height: 20px;
							}

							.overlap {

								position: absolute;
								width: 100%;
								height: 100%;
								top: 0;
								left: 0;
							}

						}
					}

				}
			}



			/*===========================*/

			.application-heading {
				padding-bottom: 20px;
				height: 50px;
			}

			.application-container {
				position: relative;

				.application-item-heading {
					margin-top: 30px;
					margin-bottom: 20px;
					font-style: italic;
				}




			}

		}

	}







}

.stats {
	text-align: right;

	&.center {
		text-align: center;
	}

	.item {
		display: inline-block;
		padding-right: 15px;
		margin-right: 15px;
		position: relative;
		.value {
			font-size: 48px;
			font-weight: 100;
			display: inline-block;
			padding-right: 5px;
		}
		.text {
			font-size: 14px;
			font-weight: 200;
			display: inline-block;
			text-transform: uppercase;
			text-align: left;
		}
		&:after {
			content: "";
			position: absolute;
			right: 0;
			top: 18px;
			width:1px;
			height: 40px;
			border-right: 1px solid @dark2;
		}

		&:last-child {
			&:after {
				border-right: none;
			}
		}

	}
}

.stats-row {

	.item {
		position: relative;
		border-bottom: 1px solid #ccc;
		.name {
			font-size: 16px;
			font-weight: 400;
			text-align: center;
			margin-top: 15px;
		}
		.value {
			text-align: center;
			font-weight: 200;
			margin-bottom: 15px;
		}
		&:last-child {
			border-bottom: none;
		}
	}

}

.archive {

	.heading {
		padding-bottom: 15px;
	}

	.application-container {

		.grid-view {
			.panel-heading {
				background: #fff;
			}
		}

	}

}

.page-project-listing {

	.list-view {
		margin-top: 30px;
		margin-bottom: 30px;

		.item {
			margin-bottom: 1px;
			padding: 10px 15px;
			background: #fff;

			[class^="ias-"] {
				margin-top: 30px;
				margin-bottom: 30px;
			}

			.descr {
				font-size: 14px;
				margin-top: 10px;
				color: @dark1;
			}

			.confirm-link {
				float: right;
			}

		}
	}

}

#settings {
	.cnt {
		-webkit-columns: 2; /* Chrome, Safari, Opera */
    	-moz-columns: 2; /* Firefox */
    	columns: 2;
    	margin-bottom: 30px;
	}

	.box-heading {
		font-weight: 500;
		margin-bottom: 10px;
	}

	label {
		font-weight: 200;
	}

}

@media (max-width: 998px) {

	.admin-wrap {
		.content-container {

			.workplace, .applications-container {
				min-width: auto;
			}
		}
	}


}

@media (max-width: 768px) {

	.workplace {
		&.default {
			padding: 0;
		}
	}

	.admin-wrap .content-container .workplace .application-container,
	.admin-wrap .content-container .applications-container .application-container {
		margin: 30px 0;
	}


}
